
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:700,900');
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


:root {
  --surface-color: #ffffff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #f4f7f9;
}

.header {
  margin: 4rem 5vw;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  border: 1px solid black;
  box-shadow: 0 2.5rem 2rem -2rem rgba(0, 12, 17, 0.4);
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid lightblue;
}

.card__title {
  font-size: 1rem;
  margin: 0 0 .3em;
  color: #167dc1;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-weight: 800;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #D7BDCA;
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  text-align: center;
  color: #206fb2;
  font-family: Satisfy, cursive;
  font-size: 6em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 1.2rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #fef8f8;
}

.footer_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  font-style: bold;
  color: black;
  padding: 10px;
}


.content {
	display: flex;
	justify-content: center;
	position: relative;
  height: 240px;
}

.content h2 {
	color: #fff;
	font-size: 8em;
	position: absolute;
}


.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #8338ec;
}

.content h2:nth-child(2) {
	color: #c19bf5;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

	0%,
	100% {
		clip-path: polygon(0% 45%,
				16% 44%,
				33% 50%,
				54% 60%,
				70% 61%,
				84% 59%,
				100% 52%,
				100% 100%,
				0% 100%);
	}

	50% {
		clip-path: polygon(0% 60%,
				15% 65%,
				34% 66%,
				51% 62%,
				67% 50%,
				84% 45%,
				100% 46%,
				100% 100%,
				0% 100%);
	}
}


.para {
  text-align: center;
  line-height: 0;
  color: #c19bf5;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
}
.para {
	 position: relative;
	 white-space: nowrap;
}
 .para:after {
	 --deco-height: 0.3125em;
	 content: "";
	 position: absolute;
	 left: 0;
	 right: 0;
   width: 42%;
   margin: auto;
	 bottom: calc(var(--deco-height) * -3);
	 height: var(--deco-height);
	 background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	 background-size: auto 100%;
	 background-repeat: round;
	 background-position: 0em;
}
.logo {
  display: flex;
  justify-content: center;
  position: relative;
}
.logo img {
  position: relative;
  top: 123px;
}
@media (max-width: 768px) {
  .content {
    height: 100px;
  }
	.content h2 {
		font-size: 3rem;
    height: 5px;
	}
  .para{
    font-size: 1rem;
  }
  .logo img {
    position: relative;
    top: 40px;
  }
}